

.ContainerMain{
    margin-top: 27px;
    width: 85%;
    height: 85vh;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    padding: 10px;
    position: relative;
    left: 250px;
    overflow: auto;

    h2{
        padding: 10px;
        color:#0d9488;
    }
}